{
    "env": {
        "node": true,
        "browser": true
    },
    "parser": "babel-eslint",
    "extends": [
        "plugin:ava/recommended",
        "airbnb",
        "prettier"
    ],
    "plugins": [
        "ava",
        "prettier"
    ],
    "rules": {
        "react/jsx-indent": "off",
        "react/jsx-indent-props": "off",
        "react/jsx-closing-bracket-location": 0,
        "no-underscore-dangle": 0,
        "consistent-return": 0,
        "prettier/prettier": ["error", {
            "singleQuote": true,
            "tabWidth": 4
        }],
        "new-cap": 0,
        "id-length": 0,
        "no-multiple-empty-lines": [2, {
            "max": 1
        }],
        "react/prop-types": 1,
        "react/jsx-filename-extension": 0,
        "import/no-extraneous-dependencies": ["error", {
            "devDependencies": [
                "**/test.js"
            ]
        }]
    }
}